# Игнорируем стандартные временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальную среду
venv/
env/

# Другие общие исключения
.DS_Store
Thumbs.db
.idea/
.vscode/
logs/
*.log
*.tmp