# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
*.egg

# Тесты и отчёты
.pytest_cache/
htmlcov/
.coverage
allure-results/
allure-report/
*.log

# IDE
.idea/
.vscode/
*.iml

# ОС
.DS_Store
Thumbs.db

# Секреты и окружение
.env